<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <title>Cordhost - Profile</title>
  </head>
  <body>
    <div class='main'>
      <nav>
        <a href='/logout'>Logout</a><br><a href='/profile'>Profile</a><br>
      </nav>
      <div id='profile-content'>
      </div>
      <div class='feed'>
        <div id='posts'>
          <h1>Here are some posts this user made</h1>
        </div>
      </div>
    </div>
    <script src='/frontend/scripts/ind.js'></script>
  </body>
</html>
